p
{
	color:black;
	font-family: fantasy;
}
body{
	color:black;
	text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

img{
	max-width: 100%;
}

#relleno{
	background: rgba(60, 149, 63, 0.5)
}